<head>
    <script>
        window.console = window.console || function(t) {};
    </script>
    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>
</head>

<body translate="no">
    <div class="container">
        <div class="items">
            <div class="entry ">
                <p class="name ">Product A</p>
                <img src="../../../../assets/images/dynamic_card_product/1.png" />
                <p class="quote ">"Short description about product ghassen soussi. "</p>
            </div>
            <div class="entry ">
                <p class="name ">Product B</p>
                <img src="../../../../assets/images/dynamic_card_product/2.png" />
                <p class="quote ">"Short description about product ghassen soussi. "</p>
            </div>
            <div class="entry ">
                <p class="name ">Product C</p>
                <img src="../../../../assets/images/dynamic_card_product/3.png" />
                <p class="quote ">"Short description about product ghassen soussi. "</p>
            </div>
            <div class="entry ">
                <p class="name ">Product D</p>
                <img src="../../../../assets/images/dynamic_card_product/4.png" />
                <p class="quote ">"Short description about product ghassen soussi. "</p>
            </div>
            <div class="entry ">
                <p class="name ">Product E</p>
                <img src="../../../../assets/images/dynamic_card_product/5.png" />
                <p class="quote ">"Short description about product ghassen soussi. "</p>
            </div>
            <div class="entry ">
                <p class="name ">Product F</p>
                <img src="../../../../assets/images/dynamic_card_product/6.png" />
                <p class="quote ">"Short description about product ghassen soussi. "</p>
            </div>
            <div class="entry ">
                <p class="name ">Product G</p>
                <img src="../../../../assets/images/dynamic_card_product/7.png" />
                <p class="quote ">"Short description about product ghassen soussi. "</p>
            </div>
        </div>
    </div>
</body>