<body class="d-flex flex-column">
    <!-- haader -->
    <header>
        <app-navbar></app-navbar>
    </header>
    <!-- /header -->

    <!-- main -->
    <main class="container-fluid flex-fill">
        <div class="row">
            <div class="col-md-1 left-sidebar">
            </div>
            <div class="col-md-10">
                <div class="main">
                    <div class="container">
                        <!-- developer -->
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="media">
                                    <a class="pull-left border border-dark" href="#">
                                        <img class="media-object dp img-circle" src="../../../../assets/images/developer/ghassen_soussi.jpg" style="width: 150px;height:150px;">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">Ghassen Soussi <small> Tunisia</small></h4>
                                        <h5>Software Developer at <a href="https://www.altran.com/fr/fr/">Altran</a></h5>
                                        <hr style="margin:8px auto">
                                        <span class="badge badge-primary">Angular</span>
                                        <span class="badge badge-secondary">Selenium</span>
                                        <span class="badge badge-success">Spring</span>
                                        <span class="badge badge-danger">Bootstrap</span>
                                        <span class="badge badge-warning">HTML5/CSS3</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- developer -->
                        <!-- carousel -->
                        <app-dynamiccarousel></app-dynamiccarousel>
                        <!-- carousel -->
                        <!-- translation items -->
                        <app-dynamiccardproduct></app-dynamiccardproduct>
                        <!-- translation items -->
                        <!-- 2.0 Homepage -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="component-title-two-zero">
                                    <h6>2.0 Homepage</h6>
                                </div>
                            </div>
                        </div>
                        <app-homepage></app-homepage>
                        <!-- 2.0 Homepage -->

                        <!-- 2.1 Pop-up -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="component-title">
                                    <h6>2.1 Pop-up</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <app-popup></app-popup>
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                        <!-- 2.1 Pop-up -->

                        <!-- 2.2 News & Topics -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="component-title">
                                    <h6>2.2 News & Topics</h6>
                                </div>
                            </div>
                        </div>
                        <app-newsandtopics></app-newsandtopics>
                        <!-- 2.2 News & Topics -->


                        <!-- 3.0 Product Listing -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="component-title">
                                    <h6>3.0 Product Listing</h6>
                                </div>
                            </div>
                        </div>
                        <app-productlisting></app-productlisting>
                        <!-- 3.0 Product Listing -->


                        <!-- 3.1 Category page -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="component-title">
                                    <h6>3.1 Category page</h6>
                                </div>
                            </div>
                        </div>
                        <app-categorypage></app-categorypage>
                        <!-- 3.1 Category page -->

                        <!-- 4.0 Product pages -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="component-title">
                                    <h6>4.0 Product Pages</h6>
                                </div>
                            </div>
                        </div>
                        <app-productpages></app-productpages>
                        <!-- 4.0 Product pages -->

                        <!-- 5.0 Your Cart -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="component-title">
                                    <h6>5.0 Your Cart</h6>
                                </div>
                            </div>
                        </div>
                        <app-yourcart></app-yourcart>
                        <!-- 5.0 Your Cart -->

                        <!-- 6.0 Shipping Info -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="component-title">
                                    <h6>6.0 Shipping info</h6>
                                </div>
                            </div>
                        </div>
                        <app-shippinginfo></app-shippinginfo>
                        <!-- 6.0 Shipping Info -->
                    </div>
                </div>
            </div>
            <div class="col-md-1 fixed-right-sideber ">
                <app-rightsidebar></app-rightsidebar>
            </div>
        </div>
    </main>
    <!-- /main -->


    <!-- Footer -->
    <footer>
        <app-footer></app-footer>
    </footer>
    <!-- /Footer -->

</body>