<!-- 2.0 Homepage -->
<!-- 1.0 -->
<div class="page">
    <div class="header">
        <div class="custom-navbar">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-bars fa-lg"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-search fa-lg"></i></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav my-2 my-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                ACCOUNT
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-bell fa-lg"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="one-zero">
            <div class="row">
                <div class="col-md-3">
                    <div class="title">
                        <h2>Shop</h2>
                    </div>
                    <div class="menu-option">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Home Furnishings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Accessories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sports</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Clothing Wear</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox" style=" width:100%; height: 500px !important;">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="../../../../assets/images/chair_1.png" alt="image">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../../../assets/images/chair_2.png" alt="image">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../../../assets/images/chair_3.png" alt="image">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="description">
                        <h6>limited edition</h6>
                        <h5>Black Lounge</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn-outline btn-sm float-right">Shop Now</button>
                </div>
            </div>
            <!-- 1.0 -->
            <!-- 1.1 1.2 -->
            <div class="one-one-one-two">
                <div class="row">
                    <div class="col-md-6">
                        <div class="one-one">
                            <div class="title">
                                <h5>Desk Lamp</h5>
                                <h6>SHOP</h6>
                            </div>
                            <div class="image-content text-center">
                                <img src="../../../../assets/images/one_one.png" class="img-fluid" alt="Online Training" width="300" height="auto">
                            </div>
                            <div class="footer-menu text-right">
                                <h6><u>Shop Desk Lamp</u></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="one-two">
                            <div class="title">
                                <h5>Wall Frames</h5>
                                <h6>SHOP</h6>
                            </div>
                            <div class="image-content text-center">
                                <img src="../../../../assets/images/one_two.png" class="img-fluid" alt="Online Training" width="300" height="auto">
                            </div>
                            <div class="footer-menu text-right">
                                <h6><u>Wall Frames Shop</u></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 1.1 1.2 -->
            <!-- popular  -->
            <div class="popular">
                <div class="row">
                    <div class="col-md-1">
                        <h5>Popular</h5>
                    </div>
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-3">
                        <h6 class="d-inline p-2">Previous</h6>
                        |
                        <h6 class="d-inline p-2">Next</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-cadre">
                            <img src="../../../../assets/images/popular/1.png" class="img-fluid" alt="Online Training" width="300" height="auto">
                        </div>
                        <div class="product-desc">
                            <h6 class="d-inline p-2">Picklesuit</h6>
                            <h6 class="d-inline p-2 provider">Ghassen Soussi</h6>
                            <br>
                            <h6 class="d-inline p-2 price">155.00$</h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-cadre">
                            <img src="../../../../assets/images/popular/2.png" class="img-fluid" alt="Online Training" width="300" height="auto">
                        </div>
                        <div class="product-desc">
                            <h6 class="d-inline p-2">Picklesuit</h6>
                            <h6 class="d-inline p-2 provider">Ghassen Soussi</h6>
                            <br>
                            <h6 class="d-inline p-2 price">155.00$</h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-cadre">
                            <img src="../../../../assets/images/popular/3.png" class="img-fluid" alt="Online Training" width="300" height="auto">
                        </div>
                        <div class="product-desc">
                            <h6 class="d-inline p-2">Picklesuit</h6>
                            <h6 class="d-inline p-2 provider">Ghassen Soussi</h6>
                            <br>
                            <h6 class="d-inline p-2 price">155.00$</h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-cadre">
                            <img src="../../../../assets/images/popular/4.png" class="img-fluid" alt="Online Training" width="300" height="auto">
                        </div>
                        <div class="product-desc">
                            <h6 class="d-inline p-2">Picklesuit</h6>
                            <h6 class="d-inline p-2 provider">Ghassen Soussi</h6>
                            <br>
                            <h6 class="d-inline p-2 price">155.00$</h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-cadre">
                            <img src="../../../../assets/images/popular/5.png" class="img-fluid" alt="Online Training" width="300" height="auto">
                        </div>
                        <div class="product-desc">
                            <h6 class="d-inline p-2">Picklesuit</h6>
                            <h6 class="d-inline p-2 provider">Ghassen Soussi</h6>
                            <br>
                            <h6 class="d-inline p-2 price">155.00$</h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-cadre">
                            <img src="../../../../assets/images/popular/6.png" class="img-fluid" alt="Online Training" width="300" height="auto">
                        </div>
                        <div class="product-desc">
                            <h6 class="d-inline p-2">Picklesuit</h6>
                            <h6 class="d-inline p-2 provider">Ghassen Soussi</h6>
                            <br>
                            <h6 class="d-inline p-2 price">155.00$</h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-cadre">
                            <img src="../../../../assets/images/popular/7.png" class="img-fluid" alt="Online Training" width="300" height="auto">
                        </div>
                        <div class="product-desc">
                            <h6 class="d-inline p-2">Picklesuit</h6>
                            <h6 class="d-inline p-2 provider">Ghassen Soussi</h6>
                            <br>
                            <h6 class="d-inline p-2 price">155.00$</h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-cadre">
                            <img src="../../../../assets/images/popular/8.png" class="img-fluid" alt="Online Training" width="300" height="auto">
                        </div>
                        <div class="product-desc">
                            <h6 class="d-inline p-2">Picklesuit</h6>
                            <h6 class="d-inline p-2 provider">Ghassen Soussi</h6>
                            <br>
                            <h6 class="d-inline p-2 price">155.00$</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- popular  -->

            <!-- Collections -->
            <div class="collections">
                <div class="row">
                    <div class="col-md-1">
                        <h5>Collections</h5>
                    </div>
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-3">
                        <h6 class="d-inline p-2">Previous</h6>
                        |
                        <h6 class="d-inline p-2">Next</h6>
                    </div>
                </div>
                <div class="row main">
                    <div class="col-md-3">
                        <p>ghassen soussi ghassen soussi ghassen soussi ghassen soussi ghassen soussi. </p>
                        <br>
                        <h6><u>See all collections</u></h6>
                    </div>
                    <div class="col-md-9">
                        <div class="three-one form-inline">
                            <div class="cadre-image jumbotron text-center">
                                <img src="../../../../assets/images/collections/3_1.png" class="img-fluid justify-content-center align-self-center" alt="Online Training">
                            </div>
                            <div class="description">
                                <h6>COLLECTION</h6>
                                <h5>Hang Lamp</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="three-two form-inline">
                            <div class="cadre-image jumbotron text-center">
                                <img src="../../../../assets/images/collections/3_2.png" class="img-fluid justify-content-center align-self-center" alt="Online Training">
                            </div>
                            <div class="description">
                                <h6>COLLECTION</h6>
                                <h5>Wood Mug</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="three-three form-inline">
                            <div class="cadre-image jumbotron text-center">
                                <img src="../../../../assets/images/collections/3_3.png" class="img-fluid justify-content-center align-self-center" alt="Online Training">
                            </div>
                            <div class="description">
                                <h6>COLLECTION</h6>
                                <h5>Wood Bottle</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="three-four form-inline">
                            <div class="cadre-image jumbotron text-center">
                                <img src="../../../../assets/images/collections/3_4.png" class="img-fluid justify-content-center align-self-center" alt="Online Training">
                            </div>
                            <div class="description">
                                <h6>COLLECTION</h6>
                                <h5>Wall Clocks</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="news-letter">
                            <h3>Newsletter</h3>
                            <p>Register now with newsletter and get the latest updates available</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="name-email-send">
                            <div class="form-row">
                                <div class="form-group col-md-9">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                                <div class="form-group col-md-9">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="form-group col-md-3">
                                    <button class="btn btn-dark">send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <footer class="footer_area">
            <div class="ftr_btm_area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="copyright_text text-center">© Copyright Minim Website 2016</p>
                        </div>
                        <div class="col-sm-6">
                            <div class="links text-center">
                                <ul>
                                    <li><a href="">FIRST</a></li>
                                    <li><a href="">SECOND</a></li>
                                    <li><a href="">THIRD</a></li>
                                    <li><a href="">FOURTH</a></li>
                                    <li><a href="">SIXTH</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="ftr_social_icon text-right">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer -->
    </div>
</div>
<!-- 2.0 Homepage -->