<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h6>Your cart</h6>
                </div>
                <div class="col-md-2">
                    <h6>3 items</h6>
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-2 text-right">
                    <h6>Total</h6>
                </div>
                <div class="col-md-2 text-right">
                    <h6>$4,497</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 separator">
                    <hr>
                </div>
            </div>
            <div class="list-cart">
                <div class="row cart">
                    <div class="col-md-2 cadre-image">
                        <img src="../../../../assets/images/your_cart/1.png" class="img-responsive">
                    </div>
                    <div class="col-md-3 title-description">
                        <h5>Product Name</h5>
                        <h6>Brand</h6>
                        <p>Ghassen soussi ghassen soussi ghassen soussi.</p>
                    </div>
                    <div class="col-md-3 quantiy">
                        <h6>Quantity <input type="number" class="col-md-4"></h6>
                    </div>
                    <div class="col-md-3 color">
                        <h6>Color <input type="text" class="col-md-4"></h6>
                    </div>
                    <div class="col-md-1 price">
                        <h6>$1,499</h6>
                        <button><i class="fa fa-close"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 separator">
                        <hr>
                    </div>
                </div>
                <div class="row cart">
                    <div class="col-md-2 cadre-image">
                        <img src="../../../../assets/images/your_cart/2.png" class="img-responsive">
                    </div>
                    <div class="col-md-3 title-description">
                        <h5>Product Name</h5>
                        <h6>Brand</h6>
                        <p>Ghassen soussi ghassen soussi ghassen soussi.</p>
                    </div>
                    <div class="col-md-3 quantiy">
                        <h6>Quantity <input type="number" class="col-md-4"></h6>
                    </div>
                    <div class="col-md-3 color">
                        <h6>Color <input type="text" class="col-md-4"></h6>
                    </div>
                    <div class="col-md-1 price">
                        <h6>$1,499</h6>
                        <button><i class="fa fa-close"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 separator">
                        <hr>
                    </div>
                </div>
                <div class="row cart">
                    <div class="col-md-2 cadre-image">
                        <img src="../../../../assets/images/your_cart/3.png" class="img-responsive">
                    </div>
                    <div class="col-md-3 title-description">
                        <h5>Product Name</h5>
                        <h6>Brand</h6>
                        <p>Ghassen soussi ghassen soussi ghassen soussi.</p>
                    </div>
                    <div class="col-md-3 quantiy">
                        <h6>Quantity <input type="number" class="col-md-4"></h6>
                    </div>
                    <div class="col-md-3 color">
                        <h6>Color <input type="text" class="col-md-4"></h6>
                    </div>
                    <div class="col-md-1 price">
                        <h6>$1,499</h6>
                        <button><i class="fa fa-close"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 separator">
                        <hr>
                    </div>
                </div>
                <div class="row cart">
                    <div class="col-md-2 cadre-image">
                        <img src="../../../../assets/images/your_cart/4.png" class="img-responsive">
                    </div>
                    <div class="col-md-3 title-description">
                        <h5>Product Name</h5>
                        <h6>Brand</h6>
                        <p>Ghassen soussi ghassen soussi ghassen soussi.</p>
                    </div>
                    <div class="col-md-3 quantiy">
                        <h6>Quantity <input type="number" class="col-md-4"></h6>
                    </div>
                    <div class="col-md-3 color">
                        <h6>Color <input type="text" class="col-md-4"></h6>
                    </div>
                    <div class="col-md-1 price">
                        <h6>$1,499</h6>
                        <button><i class="fa fa-close"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 separator">
                        <hr>
                    </div>
                </div>
                <footer>
                    <div class="row">
                        <div class="col-md-6">
                            <a><u>Continue shopping</u></a>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn-outline btn-sm">Proceed to checkout</button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </header>
</body>