<body>
    <header>
        <div class="row">
            <div class="col-md-6">
                <a class="header-title">Home - H2</a>
            </div>
            <div class="col-md-6 text-right">
                <a><i class="fa fa-search"></i></a>
            </div>
        </div>
    </header>
    <main role="main">
        <div class="row link-sort-options">
            <div class="col-md-1">
                <h5>Indoors</h5>
            </div>
            <div class="col-md-11 text-right">
                <div class="sort-options">
                    <ul>
                        <li>Sort by :</li>
                        <li class="border-right"><a href="#">Price</a></li>
                        <li class="border-right"><a href="#">Rating</a></li>
                        <li><a href="#">Brand</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="indoors">
            <div class="container">
                <div class="row indoors-content">
                    <div class="col-md-5">
                        <img src="../../../../assets/images/category_page/2_0.png" class="image_2_0 img-fluid justify-content-center align-self-center" alt="Online Training">
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-5">
                        <div class="title-one">
                            <h6>Living room</h6>
                        </div>
                        <div class="title-two">
                            <h5>We all have a story to tell</h5>
                        </div>
                        <div class="col-md-8 description">
                            <p>Ghassen Soussi ghassen soussi ghassen soussi ghassen soussi ghassen soussi ghassen soussi ghassen soussi. </p>
                        </div>
                        <div class="button-shop-all-indoors">
                            <button class="btn-outline btn-sm">Shop all indoors</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="row collection-content"> -->
                <div class="row two-one">
                    <div class="col-md-4">
                        <p class="col-md-9">Ghassen soussi ghassen soussi ghassen soussi ghassen soussi ghassen soussi ghassen soussi </p>
                        <div class="link-shop-collection">
                            <a class="col-md-6"><u>See all collection</u></a>
                        </div>
                    </div>
                    <div class="col-md-4 cadre-image">
                        <img src="../../../../assets/images/category_page/2_1.png" class="image img-fluid justify-content-center align-self-center" alt="Online Training">
                    </div>
                    <div class="col-md-4 description-titles my-auto">
                        <h6>COLLECTION</h6>
                        <h5>Dining Room</h5>
                        <div class="link-shop-collection">
                            <a><u>Shop collection</u></a>
                        </div>
                    </div>
                </div>
                <div class="row two-two">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 cadre-image">
                                <img src="../../../../assets/images/category_page/2_2.png" class="image img-fluid justify-content-center align-self-center" alt="Online Training">
                            </div>
                            <div class="col-md-6 description-titles my-auto">
                                <h6>COLLECTION</h6>
                                <h5>Kitchen</h5>
                                <div class="link-shop-collection">
                                    <a><u>Shop collection</u></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 two-three">
                        <div class="row">
                            <div class="col-md-6 cadre-image">
                                <img src="../../../../assets/images/category_page/2_3.png" class="image img-fluid justify-content-center align-self-center" alt="Online Training">
                            </div>
                            <div class="col-md-6 description-titles my-auto">
                                <h6>COLLECTION</h6>
                                <h5>Kitchen</h5>
                                <div class="link-shop-collection">
                                    <a><u>Shop collection</u></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row two-four">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 cadre-image">
                                <img src="../../../../assets/images/category_page/2_4.png" class="image img-fluid justify-content-center align-self-center" alt="Online Training">
                            </div>
                            <div class="col-md-6 description-titles my-auto">
                                <h6>COLLECTION</h6>
                                <h5>Bed Room</h5>
                                <div class="link-shop-collection">
                                    <a><u>Shop collection</u></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pagination">
                    <div class="col-md-4">
                        <h6>Previous</h6>
                    </div>
                    <div class="col-md-4 text-center">
                        <h6>3/8</h6>
                    </div>
                    <div class="col-md-4 text-right">
                        <h6>Next</h6>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>