    /* news & topics  */
    
    .news-and-topics {
        background-color: white;
        margin-bottom: 40px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    }
    
    .news-and-topics .container {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 30px;
    }
    
    .news-and-topics .title h4 {
        font-weight: bold;
        font-size: x-large;
        height: 40px;
        line-height: 32px;
        transition: .5s;
        padding: 5px;
    }
    
    .ftr_social_icon li {
        display: inline-block;
        text-align: center;
        padding: 4px;
    }
    
    .ftr_social_icon ul li a {
        border: 1px solid gray;
        border-radius: 50%;
        color: gray;
        display: inline-block;
        font-size: 17px;
        height: 40px;
        line-height: 32px;
        width: 40px;
        transition: .5s;
    }
    
    .ftr_social_icon ul li a:hover {
        background: #33d286;
        border-color: #33d286;
        color: gray;
    }
    
    .news-and-topics .main {
        padding: 60px;
    }
    
    .news-and-topics .main .title {
        font-weight: bold;
    }
    
    .news-and-topics .main .description p {
        font-size: small;
        padding-top: 50px;
    }
    
    .news-and-topics .main .link {
        padding-top: 50px;
        color: black;
        font-weight: bold;
        font-size: small;
    }
    
    .news-and-topics .image .img-fluid {
        width: 350px;
        height: 300px;
    }
    
    .news-and-topics .services {
        padding-top: 80px;
    }
    
    .news-and-topics .services h5 {
        font-weight: bold;
    }
    
    .news-and-topics .services .title h5 {
        display: table-cell;
    }
    
    .news-and-topics .services .title h6 {
        color: gray;
        font-size: small;
        display: table-cell;
    }
    
    .services .container {
        padding: 50px;
    }
    /* footer */
    
    .ftr_btm_area {
        background: transparent;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px dotted #888;
        margin-top: 28px;
        z-index: 100;
        position: relative;
    }
    
    .copyright_text {
        margin: 6px 0;
    }
    
    .links li {
        display: inline-block;
        margin-left: 10px;
        font-size: medium;
        color: #fff;
    }
    
    .footer_area p {
        font-size: small;
    }
    
    .footer_area .links a {
        color: gray;
    }
    /* footer */