<div class="news-and-topics">
    <div class="container">
        <div class="header">
            <div class="row">
                <div class="col-md-6">
                    <div class="title">
                        <h4>Topics & Inspirations</h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ftr_social_icon text-right">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="row">
                <div class="col-md-6">
                    <div class="title">
                        <h5>Home Styling</h5>
                    </div>
                    <div class="col-md-6 description">
                        <p>ghassen soussi ghassen soussi ghassen soussi ghassen soussi ghassen soussi ghassen. </p>
                    </div>
                    <div class="link">
                        <a><u>Find out more</u></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="image">
                        <img src="../../../../assets/images/news_and_topics/3_1.jpg" class="img-fluid justify-content-center align-self-center" alt="Online Training">
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="row">
                <div class="col-md-6">
                    <div class="image">
                        <img src="../../../../assets/images/news_and_topics/3_2.png" class="img-fluid justify-content-center align-self-center" alt="Online Training">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="title">
                        <h5>2019 Catalogue</h5>
                    </div>
                    <div class="col-md-6 description">
                        <p>ghassen soussi ghassen soussi ghassen soussi ghassen soussi ghassen soussi ghassen. </p>
                    </div>
                    <div class="link">
                        <a><u>Explore topics</u></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="row">
                <div class="col-md-6">
                    <div class="title">
                        <h5>No-Box Packaging</h5>
                    </div>
                    <div class="col-md-6 description">
                        <p>ghassen soussi ghassen soussi ghassen soussi ghassen soussi ghassen soussi ghassen. </p>
                    </div>
                    <div class="link">
                        <a><u>CSR Initiatives</u></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="image">
                        <img src="../../../../assets/images/news_and_topics/3_3.jpg" class="img-fluid justify-content-center align-self-center" alt="Online Training">
                    </div>
                </div>
            </div>
            <div class="services">
                <div class="title">
                    <div class="row">
                        <div class="col-md-2">
                            <h5 style="display: inline;">Our Services</h5>
                        </div>
                        <div class="col-md-2">
                            <h6 style="display: inline;">BLOG</h6>
                        </div>
                    </div>
                </div>
                <div class="main">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8rHrROQCMFs" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="title">
                                <h5>Doing Our Best Sine 1984</h5>
                            </div>
                            <div class="col-md-6 description">
                                <p>ghassen soussi ghassen soussi ghassen soussi ghassen soussi ghassen soussi ghassen. </p>
                            </div>
                            <div class="link">
                                <a><u>Read About Us</u></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="news-letter">
                                <h3>Newsletter</h3>
                                <p>Register now with newsletter and get the latest updates available</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="name-email-send">
                                <div class="form-row">
                                    <div class="form-group col-md-9">
                                        <input type="text" class="form-control" placeholder="Name">
                                    </div>
                                    <div class="form-group col-md-9">
                                        <input type="email" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <button class="btn btn-dark">send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <footer class="footer_area">
            <div class="ftr_btm_area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="copyright_text text-center">© Copyright Minim Website 2016</p>
                        </div>
                        <div class="col-sm-6">
                            <div class="links text-center">
                                <ul>
                                    <li><a href="">FIRST</a></li>
                                    <li><a href="">SECOND</a></li>
                                    <li><a href="">THIRD</a></li>
                                    <li><a href="">FOURTH</a></li>
                                    <li><a href="">SIXTH</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="ftr_social_icon text-right">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer -->
    </div>
</div>