<div class="pop-up">
    <div class="row">
        <div class="col-md-12">
            <div class="close-popup text-right">
                <a><i class="fa fa-close"></i></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image">
                <img class="img-fluid justify-content-center align-self-center" src="../../../../assets/images/pop_up/2_1.PNG" alt="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="title-text-button-link">
                <div class="title">
                    <h4>Need Help?</h4>
                </div>
                <div class="text">
                    <p>Start a live call with us now to have us attend to any of your enquiries </p>
                </div>
                <div class="button-link">
                    <button class="btn btn-dark">Start Live Chat</button>
                    <a class="btn btn-default"><u>Request for call back</u></a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
        </div>
    </div>
</div>