body {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.container {
    padding: 50px;
}

.header-titles {
    padding-bottom: 50px;
    font-weight: bold;
}

.cadre-image {
    height: 460px;
    width: 100%;
    background-color: #C0DAE9;
}

.title-cadre-image {
    padding: 20px;
    float: right;
    font-weight: bold;
}

.img-responsive {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.zoom-image {
    font-weight: bold;
    padding: 20px;
}

.btn-outline {
    background: black;
    padding: 12px 22px;
    font-weight: bold;
    font-size: x-small;
    color: white;
}

.btn-outline:hover {
    background: none;
    padding: 12px 22px;
    font-weight: bold;
    background-color: gray;
}

.product-description h6 {
    font-weight: bold;
}

.product-description h2 {
    font-weight: bold;
}

.product-description .price-discount {
    padding-top: 40px;
    padding-bottom: 20px;
}

.product-description .paragraphe {
    padding-bottom: 20px;
    padding-top: 20px;
}

.product-description p {
    color: gray;
}

.product-description .buton-add {
    padding-bottom: 30px;
    padding-top: 30px;
}

.product-description a {
    font-weight: bold;
    font-size: small;
}

.sort-options {
    padding: 20px;
}

.sort-options a {
    font-size: small;
    font-weight: bold;
    color: black;
}

.sort-options li {
    display: inline-block;
    text-align: center;
    padding-left: 20px;
}