<body>
    <header>
        <div class="container">
            <div class="row header-titles">
                <div class="col-md-6">
                    <a>Home - H1 - H2</a>
                </div>
                <div class="col-md-6 text-right">
                    <a>Your Cart(4)</a>
                </div>
            </div>
            <main role="main">
                <div class="row">
                    <div class="col-md-6">
                        <div class="cadre-image">
                            <div class="title-cadre-image">
                                <h6>Outdoor Collection</h6>
                            </div>
                            <img src="../../../../assets/images/product_pages/1.png" class="img-responsive">
                            <div class="zoom-image">
                                <h6>Zoom in <i class="fa fa-zoom"></i></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="container product-description">
                            <h6>Outdoor</h6>
                            <h2>Solar Art</h2>
                            <div class="price-discount">
                                <h6 style="display: inline;">$1,499</h6>&nbsp;&nbsp;&nbsp;
                                <p style="display: inline;">You saved $22</p>
                            </div>
                            <div class="paragraphe">
                                <p class="col-md-10">Ghassen soussi ghassen soussi ghassen soussi ghassen soussi ghassen soussi ghassen soussi.</p>
                            </div>
                            <div class="buton-add">
                                <button class="btn-outline btn-sm">Add to cart</button>
                            </div>
                            <a><u>Add to wishlist</u></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <div class="sort-options">
                            <ul>
                                <li class="border-right"><a href="#">Review</a></li>&nbsp;&nbsp;|
                                <li class="border-right"><a href="#">Description</a></li>&nbsp;&nbsp;|&nbsp;
                                <li><a href="#">Instruction</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </header>
</body>